/* .main-container{
    width:100%;
    height:100%;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
} */

.main-container {
    background-color: grey;
}

Button {
    position: relative;
    left: 120px;
    bottom: 70px;
}